/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* BODY */
body {
    width: 100%;
    height: 100vh;
    padding: 30px;
    background: linear-gradient(to top, #d8dbd5 calc(100vh - 100px), #009688 100px);
}

/* COMMON */
.icons {
    display: flex;
    align-items: center;
}
.icons i {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
    color: #b1b1b1;
}

/* HOVER EFFECTS */
.icons i:hover {
    color: #7e7d7d;
}
.input-text i:hover {
    color: rgb(18, 116, 228);
}

/* MAIN */
.container {
    display: flex;
    margin: auto;
    height: calc(100vh - 60px);
    width: 80%;
    background-color: red;
}

/* left-column */
.left-column {
    width: 35%;
    height: 100%;
}

/* personal info and its style content */
.personal-info {
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
}
.pic-and-name {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.pic {
    display: flex;
    align-items: center;
}
.pic img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.name {
    font-size: 1.1rem;
    font-weight: 700;
}

/* notification and its style content */
.notifications {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #8edafc;
    padding: 15px;
}
.notific-alarm {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
.notific-alarm i {
    font-size: 1.4rem;
    color: #8edafc;
}
.notific-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.notific-text a {
    font-size: .9rem;
    color: #4f7485;
}

/* find contact and its style content */
.find-contact {
    position: relative;
    height: 45px;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 5px;
}
.find-contact input {
    width: 100%;
    height: 100%;
    margin-left: auto;
    padding-left: 80px;
    /* color: #acacac; */
    border: 1px solid #e2e2e2;
}
.find-contact i {
    position: absolute;
    left: 32.5px;
    top: 50%;
    transform: translateY(-50%);
    color: #b6b9bb;
}

/* contact list and its style content */
.contact-list {
    width: 100%;
    height: calc(100% - 195px);
    background-color: #fff;
    overflow-y: scroll;
}
.contact-list li {
    display: flex;
    width: 100%;
    height: 80px;
    line-height: 60px;
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #e2e2e2; 
}
.contact-list li:hover {
    background-color: #e2e2e2;
}
.contact-list li img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.contact-list li div {
    margin-left: 20px;
}

/* RIGHT COLUMN */
.right-column {
    width: 65%;
    height: 100%;
    background-color: green;
}

/* chat header and its style content */
.chat-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    border-left: 1px solid #b4b4b4;
    padding: 10px;
}
.chat-header-left {
    display: flex;
}
.chat-header-left img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.chat-info {
    margin: auto 0;
}
.chat-name {
    font-weight: 700;
}
.last-time-online {
    font-size: .8rem;
    color: #7c8385;
}

/* chat area and its style content */
.chat-area {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(100% - 150px);
    overflow-y: scroll;
    padding: 40px 70px 0 70px;
}
.chats {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.chats li {
    padding: 15px;
    margin-bottom: 20px;
    min-width: 170px;
    max-width: 400px;
    min-height: 70px;
    border-radius: 10px;
    position: relative;
}
.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}
.received {
    align-self: flex-start;
    background-color: #fff;
}
.chats li span {
    position: absolute;
    font-size: .8rem;
    bottom: 5px;
    right: 5px;
    color: #bcc6ba;
}

/* input text area and its style content */
.input-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #f3eeea;
    line-height: 90px;
    padding: 10px 50px;
}
.input-text i {
    font-size: 1.6rem;
}
.input-text input {
    width: 100%;
    margin: 0 30px;
    padding: 20px;
    height: 100%;
    border: none;
    font-size: 1rem;
}
